#center-div {
  font-family: Arial, Helvetica, sans-serif;
  padding: 200px 0 0 0;
  text-align: center;
}

#center-dashboard-body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 0;
  text-align: center;
}

#center-demo-div {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 0;
  text-align: center;
}

#input-name {
  padding: 18px 30px;
  border-radius: 6px;
  border-width: 1px;
}

#required-alert {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(250, 10, 10);
  font-style: bold;
  font-size: 13px;
  padding-right: 130px;
}

#submit-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #239eea;
  color: rgb(254, 255, 255);
  font-size: 15px;
  font-style: bold;
  padding: 11px 70px;
  border-radius: 5px;
  margin: 30px 0px;
  border: none;
  cursor: pointer;
}

li {
  float: left;
  display: block;
  padding: 8px 8px 0 8px;
}

#title-padding {
  padding: 0 60em 0px 6em;
}

#logout-btn-padding {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
  margin-left: 8em;
  background: none;
  border: none;
  color: #239eea;
  font-style: underline;
  cursor: pointer;
}

.navbar-top {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0%;
  padding-left: 17%;
  width: 80%;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-side {
  position: absolute;
  right: 19%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.log-out {
  background: none;
  border: none;
  color: #239eea;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  top: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboard-body {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 60%;
  top: 25%;
  left: 0;
  left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.create-new {
  background: none;
  border: none;
  color: #239eea;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.dashboard-list-item {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  position: absolute;
  width: 51%;
  height: 55px;
  top: 35%;
  left: 23%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.padding-text {
  padding-left: 20px;
}

.padding-update {
  margin-left: 800px;
  margin-right: 20px;
}

.padding-date {
  padding-left: 600px;
}

.padding-box {
  padding-left: 170px;
}

.back-btn {
  position: absolute;
  left: 350px;
  top: 180px;
  text-decoration: none;
}

.padding-right {
  padding-right: 40px;
}